@import "~normalize.css";
@import "first-loader";
@import "second-loader";
@import "third-loader";

body {
  background: aqua;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}